In [4]:
import pandas as pd
from sqlalchemy import create_engine

def obter_dados_tabela(tabela, conn_str):
    """
    Obtém dados de uma tabela no banco de dados e retorna um DataFrame.
    
    Parameters:
        nome_tabela (str): O nome da tabela a ser consultada.
        conn_str (str): A string de conexão do SQLAlchemy para o banco de dados.

    Returns:
        pd.DataFrame: Um DataFrame contendo os dados da tabela.
    """
    engine = create_engine(conn_str)
    consulta_sql = f"SELECT * FROM {tabela}"
    df = pd.read_sql_query(consulta_sql, engine)
    return df

conn_str = "postgresql://postgres:postgres@localhost:5432/postgres"

listings_df = obter_dados_tabela("listings", conn_str)
reviews_df = obter_dados_tabela("reviews", conn_str)
calendar_df = obter_dados_tabela("calendar", conn_str)


display(listings_df.head(5))
display(reviews_df.head(5))
display(calendar_df.head(5))

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,231497,https://www.airbnb.com/rooms/231497,20230922043705,2023-09-22,city scrape,Rental unit in Rio de Janeiro · ★4.73 · 1 bedr...,"This is a big studio at the end of Copacabana,...",None,https://a0.muscache.com/pictures/3582382/ee8ac...,1207700,...,4.92,4.90,4.65,None,f,4,4,0,0,0.54
1,231516,https://www.airbnb.com/rooms/231516,20230922043705,2023-09-22,city scrape,Rental unit in Rio de Janeiro · ★4.71 · 1 bedr...,"Special location of the building, on Copacaban...",None,https://a0.muscache.com/pictures/3671683/d74b4...,1207700,...,4.86,4.93,4.38,None,f,4,4,0,0,0.20
2,236991,https://www.airbnb.com/rooms/236991,20230922043705,2023-09-23,city scrape,Rental unit in Rio de Janeiro · ★4.89 · 1 bedr...,"Aconchegante, amplo, básico, arejado, iluminad...","Copacabana, apelidada a princesinha do mar, fa...",https://a0.muscache.com/pictures/5725a59b-147d...,1241662,...,4.96,4.99,4.89,None,f,2,2,0,0,0.65
3,17878,https://www.airbnb.com/rooms/17878,20230922043705,2023-09-23,city scrape,Condo in Rio de Janeiro · ★4.70 · 2 bedrooms ·...,Please note that elevated rates applies for Ne...,This is the one of the bests spots in Rio. Bec...,https://a0.muscache.com/pictures/65320518/3069...,68997,...,4.91,4.77,4.67,None,f,1,1,0,0,1.87
4,900709,https://www.airbnb.com/rooms/900709,20230922043705,2023-09-22,city scrape,Rental unit in Rio de Janeiro · 1 bedroom · 1 ...,"Gorgeous apt 2 rooms,1 bedroom,kitchen, bathro...",None,https://a0.muscache.com/pictures/13585778/f2f2...,2649464,...,NaN,NaN,NaN,None,f,1,1,0,0,NaN

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,231497,726625,2011-11-17,1356783,Jenny,Es un apartastudio muy bien ubicado. Tiene lo ...
1,17878,64852,2010-07-15,135370,Tia,This apartment is in a perfect location -- two...
2,17878,76744,2010-08-11,10206,Mimi,we had a really great experience staying in Ma...
3,17878,91074,2010-09-06,80253,Jan,Staying in Max appartment is like living in a ...
4,17878,137528,2010-11-12,230449,Orene,In general very good and reasonable price.\r<b...

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,17878,2023-09-23,f,$265.00,$265.00,5,28
1,17878,2023-09-24,t,$265.00,$265.00,5,28
2,17878,2023-09-25,f,$290.00,$290.00,5,28
3,17878,2023-09-26,f,$290.00,$290.00,5,28
4,17878,2023-09-27,f,$290.00,$290.00,5,28